<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=yes">
    <title>语法学习</title>
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" href="//cdn.yanwenyao.com/css/reset.css" />
    <link rel="stylesheet" href="//cdn.yanwenyao.com/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/loding.css"/>
    <link rel="stylesheet" href="css/index.css"/>
</head>
<body>
<header>
    <div class="mobile">
        <p class="title"><b>语法知识资料</b></p>
        <span class="menu-btn fa fa-align-justify" id="menuBtn"></span>
    </div>
</header>
<main class="main">
    <aside class="nav" id="nav">
    </aside>
    <article id="pdf-canvas" class="pdf-canvas">
<!--        <iframe id="myIframe" class="myIframe" src="1.名词.pdf"></iframe>-->
    </article>
    <article id="pdf-text" class="pdf-text">

    </article>
</main>
<div  class="loading" id="loading">
    <div class="loader">
        <div class="text" id="loading-text">Loading...</div>
        <div class="horizontal">
            <div class="circlesup">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div class="circlesdwn">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
        <div class="vertical">
            <div class="circlesup">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
            <div class="circlesdwn">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>
<a class="to-top" title="" style="position: fixed; right: 25px; bottom: 50px; cursor: pointer;"></a>
<script  type="text/javascript" src="//cdn.yanwenyao.com/js/pdf.js"></script>
<!--<script type="text/javascript"  src="//cdn.yanwenyao.com/js/pdf.worker.js"></script>-->
<!--<script src="js/pdfjs-2.4.456-es5-dist/build/pdf.js"></script>-->

<script type="text/javascript" src="js/index.js"></script>
</body>

</html>
